.about {
    margin: 0px 0px 100px 0px;

    @media (max-width: 768px) {
        margin: 0px 0px 50px 0px;
    }

    // .about__wrapper

    &__wrapper {
       
    }

    // .about__text-wrapper
    
    &__text-wrapper {
        margin: 0px auto 100px auto;
        box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
        padding: 99px 110px;

        @media (max-width: 768px) {
            margin: 0px auto 50px auto;
            padding: 24px 5px;
        }
    }

    // .about__text

    &__text { 
        text-align: center;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        max-width: 890px;

        span {
            color: #B01736;
        }

        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 19px;
        }
    }
    

    // .about__content

    &__content {

    }

    // .about__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        // gap: 24px 30px;

        @media (max-width: 480px) {
            gap: 24px 10px;
        }

        @media (max-width: 350px) {
            text-align: center;
            flex-direction: column;
            align-items: center;
        }

    }

    //about__list-top
    
    &__list-top {
        margin: 0px 0px 80px 0px;
        justify-content: space-around;
        gap: 24px;

        @media (max-width: 768px) {
            margin: 0px 0px 24px 0px;
        }
    }

    // .about__list-bottom

    &__list-bottom {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 24px;
    }


    // .about__item

    &__item {
        
    }
    
    // .about__item-title
    
    &__item-title {        
        color: #A30C33;
        font-weight: 600;
        font-size: 80px;
        line-height: 64px;
        margin: 0px 0px 4px 0px;

        @media (max-width: 768px) {
            font-size: 40px;
            line-height: 32px;
        }
 
        span {
            font-weight: 900;
            font-size: 64px;
            line-height: 64px;

            @media (max-width: 768px) {
                font-size: 30px;
                line-height: 30px;
            }
        }

        
    }
    
    // .about__item-text
    
    &__item-text {        
        font-weight: 400;
        line-height: 27px;
        max-width: 245px;

        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 24px;
            max-width: 180px;
        }
    }
}
