.gallery {
    margin: 0px 0px 56px 0px;

    @media (max-width: 768px) {
        margin: 0px 0px 49px 0px;        
    }

    // .gallery__top

    &__top {
        margin: 0px 0px 50px 0px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            margin: 0px 0px 15px 0px;
        }
    }

    // .gallery__title

    &__title {
        font-weight: 600;
        font-size: 56px;
        line-height: 56px;

        @media (max-width: 768px) {
            font-size: 28px;
            line-height: 28px;
        }
    }

    // .gallery__btns

    &__btns {
        display: flex;
        gap: 20px;

        @media (max-width: 991px) {
            display: none;
        }
    }

    // .gallery__btn

    &__btn {
        background-color: #F0F0F0;
        border-radius: 50%;
        padding: 18px 23px;
        max-width: 56px;
        max-height: 56px;
    }

    // .gallery__btn-prev

    &__btn-prev {
    }

    // .gallery__btn-next

    &__btn-next {
    }

    // .gallery__slider-wrap

    &__slider-wrap {
    }

    // .gallery__slider

    &__slider {
        margin: 0px 0px 40px 0px;

        @media (max-width: 480px) {
            margin: 0;
        }
    }

    // .gallery__slider-item

    &__slider-item {
    }

    // .gallery__slider-img

    &__slider-img {
    }

    // .gallery__slider-pagination

    &__slider-pagination {
        display: flex;
        gap: 22px;    
    }
}

.swiper-pagination-bullet {
    width: 211px;
    height: 6px;
    background: rgba($color: #000000, $alpha: 0.1);
    cursor: pointer;
    
    @media (max-width: 480px) {
        display: none;
    }
  }

  .swiper-pagination-bullet-active {
    background: #A30C33;
  }

