.offices {
    margin: 0px 0px 100px 0px;
    position: relative;
    overflow: hidden;

    // .offices__wrap

    &__wrap {
    }

    // .offices__top

    &__top {
        margin: 0px 0px 90px 0px;
        padding: 28px 70px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
        height: 80px;
    }

    // .offices__select

    &__select {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        padding: 0px 62px 0px 0px;
        position: relative;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 8px;
            bottom: 8px;
            width: 22px;
            height: 12px;
            background-image: url('../img/offices/arrow.png');
            background-repeat: no-repeat;
            transition: all .3s ease;
        }

        // .offices__select-active

        &-active {
            
            &::after {
                transform: rotate(180deg);
            }
        }
    }

    // .offices__map

    &__map {
        padding: 0px 30px;
        // max-width: 1190px;
    }

    // .offices__map-list

    &__map-list {
    }

    // .offices__map-item

    &__map-item {
    }

    // .offices__map-img

    &__map-img {
        width: 100%;
        object-fit: cover;
    }
}

.citiestop {

    // .citiestop__menu

    &__menu {
    }

    // .citiestop__menu-list

    &__menu-list {
        display: flex;
        gap: 0px 30px;

        // .citiestop__menu-list--active

        &--active {
            opacity: 0.1;
        }
    }

    // .citiestop__menu-item

    &__menu-item {
        font-weight: 600;
        line-height: 20px;
    }

    // .citiestop__menu-itemactive

    &__menu-itemactive {
        // color: #A30C33;
        // position: relative;
        // padding: 0px 0px 28px 0px;
        // border-bottom: 3px solid #A30C33;
    }
}

.citiesbottom {
    
    
    // .citiesbottom__menu
    
    &__menu {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 30px 69px;
        background: #FFFFFF;
        box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.06);
        transition: all .7s ease;
       

        &-active {
            top: 100px;
            transition: all .7s ease;
        }
    }

    // .citiesbottom__menu-content

    &__menu-content {
        display: flex;
        justify-content: space-between;
        gap: 24px;

    }

    // .citiesbottom__menu-list

    &__menu-list {
    }

    // .citiesbottom__menu-item

    &__menu-item {
        margin: 0px 0px 20px 0px;
        line-height: 20px;
        cursor: pointer;
        
        span {
            font-weight: 600;
        }
    }
}


.slider {

    // .slider__list

    &__list {
    }

    // .slider__item

    &__item {
        display: none;

        // .slider__item-active

        &-active {
            display: block;
        }
    }

    // .slider__btns

    &__btns {
    }

    // .slider__btn

    &__btn {
        cursor: pointer;

        // .slider__btn-active

        &-active {
            color: #A30C33;
            position: relative;
            padding: 0px 0px 28px 0px;
            border-bottom: 3px solid #A30C33;
            
        }

    }

}