.offices {
    margin: 0px 0px 100px 0px;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
        margin: 0px 0px 50px 0px;
    }

    // .offices__wrap

    &__wrap {
    }

    // .offices__top

    &__top {
        margin: 0px 0px 90px 0px;
        padding: 28px 70px 0px 70px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);

        @media (max-width: 1330px) {
            margin: 0px 0px 8px 0px;
            padding: 18px 70px;
            flex-direction: column;
        }

        @media (max-width: 480px) {
            padding: 18px 5px;
        }
    }

    // .offices__select

    &__select {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        position: relative;
        cursor: pointer;

        @media (max-width: 768px) {
            font-size: 20px;
            line-height: 20px;
        }

        &::after {
            content: '';
            position: absolute;
            right: -62px;
            top: 8px;
            bottom: 8px;
            width: 22px;
            height: 12px;
            background-image: url('../img/offices/arrow.png');
            background-repeat: no-repeat;
            transition: all .3s ease;

            @media (max-width: 1330px) {
                left: 195px;
            }

            @media (max-width: 768px) {
                top: 4px;
                left: 165px;
            }
        }

        // .offices__select-active

        &-active {
            
            &::after {
                transform: rotate(180deg);
            }
        }
    }

    // .offices__map

    &__map {
        padding: 0px 30px;

        // .offices__map-active

        &-active {
            opacity: 0.1;
        }
    }

    // .offices__map-list

    &__map-list {
    }

    // .offices__map-item

    &__map-item {
    }

    // .offices__map-img

    &__map-img {
        width: 100%;
        object-fit: cover;
    }
}

.citiestop {

    // .citiestop__menu

    &__menu {
    }

    // .citiestop__menu-list

    &__menu-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 30px;

        @media (max-width: 768px) {
            gap: 10px 16px;
        }

        // .citiestop__menu-list--active

        &--active {
            opacity: 0.1;
        }
    }

    // .citiestop__menu-item

    &__menu-item {
        font-weight: 600;
        line-height: 20px;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
}

.citiesbottom {
    
    // .citiesbottom__menu
    
    &__menu {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 30px 69px;
        background: #FFFFFF;
        box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.06);
        transition: all .7s ease;

        @media (max-width: 480px) {
            padding: 18px 25px 0px 10px;
        }
       

        &-active {
            top: 100px;
            transition: all .7s ease;
            z-index: 10;

            @media (max-width: 1330px) {
                top: 60px;
            }
        }
    }

    // .citiesbottom__menu-content

    &__menu-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
    }
}

.dropdown {
    
    // .dropdown__wrapper

    &__wrapper {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px 25px;
    }
    
    // .dropdown__button

    &__button {
        margin: 0px 0px 20px 0px;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        position: relative;

        
        &::after {
            content: '';
            position: absolute;
            right: -15px;
            top: 7px;
            width: 8px;
            height: 5px;
            background-image: url('../img/offices/triangle.png');
            background-repeat: no-repeat;
            background-size: contain;
            display: none;
            
            @media (max-width: 1330px) {
                display: block;
            }
        }

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 14px;
        }
    }

    // .dropdown__list

    &__list {
        overflow: hidden;

        @media (max-width: 1330px) {
            display: none;
            background-color: #fff;
        }

        // .dropdown__list-visible

        &-visible {
            display: block;
        }
    }

    // .dropdown__list-item

    &__list-item {
        font-size: 18px;
        line-height: 20px;
        margin: 0px 0px 20px 0px;
        cursor: pointer;

        @media (max-width: 1330px) {
            margin: 0px 0px 15px 0px;
            font-size: 14px;
            line-height: 14px;
        }
    }

    // .dropdown__input

    &__input {
        display: none;
    }
}

.dropdown__button:focus, .dropdown__button--active {
    color: #A30C33;
	outline: none;

    &::after {
        transform: rotate(180deg);
    }
}

.dropdown__list--visible {
	display: block;
}

.dropdown__input-hidden {
	display: none;
}

.slider {

    // .slider__list

    &__list {
    }

    // .slider__item

    &__item {
        display: none;
       
        // .slider__item-active

        &-active {
            display: block;
        }
    }

    // .slider__btns

    &__btns {
    }

    // .slider__btn

    &__btn {
        cursor: pointer;

        // .slider__btn-active

        &-active {
            color: #A30C33;
            padding: 0px 0px 28px 0px;
            border-bottom: 3px solid #A30C33;

            @media (max-width: 1330px) {
                padding: 0px 0px 0px 0px;
                border-bottom: none;    
            }
        }

    }

}